{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
        <br>
        <br>
        <div class="grid-x">
            <div class="small-3 medium-3 large-3">
                <br>
                <img src="{{ asset('assets/logo/warning-sign.png')}}">
            </div>
            <div class="small-9 medium-9 large-9 inputstyle">
                <h2 style="font-family:bebas_neueregular; color: #F15A24">Login</h2>


                {% for message in app.flashes() %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}



                <label>Email
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </label>
                <label>Password
                    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                </label>

                <a href="{{ path('fos_user_resetting_request') }}"><div class="ForgetPasswordText">Wachtwoord vergeten?</div></a>

                <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-succes right" style="font-size: 3rem; color: #F15A24"><i class="fas fa-arrow-right"></i></button> 
            </div>
        </div>
</form>
<br><br><br><br><br><br><br>




