{% extends 'base.html.twig' %}

{% block title %}Mijn Sollicitaties{% endblock %}


{% block logo %}
    <div class="grid-x">
        <div class="small-3 medium-3 large-3"></div>
        <div class="small-6 medium-6 large-6">
            <br>
                <div class="hexagon">
                    <a href="/userprofile/show/{{user.id}}"><img class="sizedimg" src="{{ user.profilepictureurl }}"></a>
                </div>
            </br>
        </div>
        <div class="small-3 medium-3 large-3"></div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid-x">
        <div class="small-12 medium-12 large-12">
            <br>
                <div class="titlestyle">Mijn Sollicitaties</div>
            </br>
        </div>

        <div class="small-12 medium-12 large-12">
            <table id="table_id" class="myapplicationstable">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Vacature</th>
                        <th>Bedrijf</th>
                        <th>Uitgenodigd</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications|sort((a, b) => a.applicationdate <=> b.applicationdate) %}
                        <tr>
                            <td>{{ application.applicationdate|date("d-m-Y") }}</td>
                            <td><a href="/vacancy/show/{{application.vacancy.id}}" class="orangetext">{{ application.vacancy.function}}</a></td>
                            <td><a href="/userprofile/show/{{application.vacancy.user.id}}" class="greytext">{{ application.vacancy.user.companyname}}</a></td>
                            <td class="orangetext">{% if application.invited == 1 %}
                                <i class="fas fa-check" style=" font-size: 2.5rem"></i>
                            </td>                             
                            {% endif %}
                        </tr> 
                    {% endfor %}
                </tbody>
            </table><br><br>
        </div>
{% endblock %}

