{% extends 'base.html.twig' %}

{% block title %}My Applicants{% endblock %}

{% block logo %}
    <div class="grid-x">
        <div class="small-3 medium-3 large-3"></div>
        <div class="small-6 medium-6 large-6">
            <br><div class="hexagon">
                 <a href="/userprofile/show/{{user.id}}"><img src="{{ user.profilepictureurl }}"></a>
            </div>
        </div>
        <div class="small-3 medium-3 large-3"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="grid-x">
        <div class="small-12 medium-12 large-12">
            <br>
                <div class="titlestyle">Mijn Sollicitanten</div>
            </br>
        </div>
        
        <div class="small-12 medium-12 large-12">            
            <table id="table_id" class="myapplicationstable">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Vacature</th>
                        <th>Sollicitant</th>
                        <th>Uitnodigen</th>   
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in applicants|sort((a, b) => a.applicationdate <=> b.applicationdate) %}
                        <tr>
                            <td>{{ applicant.applicationdate|date("d-m-Y") }}</td>
                            <td><a href="/vacancy/show/{{applicant.vacancy.id}}" class="orangetext">{{ applicant.vacancy.function }}</a></td>
                            <td><a href="/userprofile/show/{{applicant.user.id}}" class="greytext">{{ applicant.user.lastname}}, {{ applicant.user.firstname}}</td>
                            <td>{% if applicant.invited == false %}
                            <a type="button" class="btn btn-success orangetext" <a href="application/invitation/{{applicant.id}}">
                            Invite</a> 

                            {% else %}
                            <a type="button" class="btn btn-success orangetext" <a href="application/invitation/{{applicant.id}}">
                            Uninvite</a>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>                           
{% endblock %}
