{% extends 'base.html.twig' %}

{% block title %}Welcome to VacIT!{% endblock %}

{% block body %}
    <div class="orangebackground">
        <div class="grid-container grid-container-padding">
            <div class="grid-x grid-padding-x">
                <div class="medium-2 large-2">
                </div>

                <div class="medium-1 large-1">
                </div>

                <div class="small-12 medium-9 large-9"> 
                    {% for vacancy in vacancies %}
                        <div class="grid-x grid-x-padding">
                            <div class="small-2 medium-2 large-2">
                                <br><br><br><div class="part">
                                    <div class="hexa">
                                        <div class="hex1">
                                            <div class="hex2">
                                                <img src="{{ vacancy.platform.iconurl }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="small-1 medium-2 large-2">
                            </div>

                            <div class="small-10 medium-7 large-7">
                                <br><br><br><div class="vacancydatetext">{{ vacancy.vacancydate }}</div>
                                <div class="functiontext">{{vacancy.function}} voor {{vacancy.user.companyname}}</div>
                                <div class="descriptiontext">{{ vacancy.jobdescription |striptags|length > 200 ? vacancy.jobdescription|striptags|slice(0, 200) ~ '...' : vacancy.jobdescription|striptags }}</div>
                            </div>

                            <div class="medium-1 large-1">
                                <br><button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-succes; right" style="font-size: 3rem; color: white; "><i class="fas fa-arrow-right"></i></button>
                            </div>



                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
