{% extends 'base.html.twig' %}

{% block title %}Vacature Aanpassen!{% endblock %}

{% block logo %}
    <div class="grid-x">
        <div class="small-3 medium-3 large-3"></div>
        <div class="small-6 medium-6 large-6">
           <br><a href="/userprofile/show/{{vacancy.user.id}}"><img class="sizedimg" src="{{ vacancy.user.profilepictureurl }}"></a>
        </div>
        <div class="small-3 medium-3 large-3"></div>
    </div>
{% endblock %}

{% block body %}
    {# <div class="grid-x">
        <div class="small-12 medium-12 large-12 profile-edit">
            <br><h2 style="font-family:bebas_neueregular; color: #F15A24">Mijn vacature</h2>

            {% if is_granted('ROLE_EMPLOYER') %}
                <label>Functienaam</label> 
                    <input type="text" id="function" name="function" value="{{ vacancy.function }}"/>

                <br><label>Contactpersoon</label> 
                    <input type="text" id="contactperson" name="contactperson" value="{{ user.lastname }}, {{ user.firstname}}"/>

                <br><label>Email</label> 
                    <input type="text" id="email" name="email" value="{{ user.email }}"/> #}
{% endblock %}
