{% extends 'base.html.twig' %}

{% block title %}All Vacancies by {{ user.companyname }}{% endblock %}

{% block logo %}
    <div class="grid-x">
        <div class="small-3 medium-3 large-3">
        </div>
        <div class="small-6 medium-6 large-6">
           <br><a href="/userprofile/show/{{user.id}}"><img class="sizedimg" src="{{ user.profilepictureurl }}"></a>
        </div>
        <div class="small-3 medium-3 large-3">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="grid-x">
        <div class="small-12 medium-12 large-12 vacancy-edit">
            <br><h2 style="font-family:bebas_neueregular; color: #F15A24">Vacatures</h2>
                <table id="table_id" class="myvacanciestable">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Functie</th>
                            <th>Bedrijf</th>
                            <th>Locatie</th>
                            <th>Niveau</th>
                            <th>Platform</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for vacancy in vacancies %}
                        <tr>
                            <td>{{ vacancy.vacancydate|date("d-m-Y") }}</td>
                            <td><a href="/vacancy/show/{{vacancy.id}}" class="orangetext">{{ vacancy.function }}</a></td> 
                            <td><a href="/userprofile/show/{{vacancy.user.id}}" class="greytext">{{ vacancy.user.companyname}}</a></td>
                            <td>{{ vacancy.location}}</td>
                            <td>{{ vacancy.level }}</td>
                            <td>{{ vacancy.platform.name}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table><br>     
        </div>
    </div>
    <div class="grid-x">
        <div class="small-12 medium-12 large-12 vacancy-edit">
            <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                <a href="/vacancy/add/" class="orangetext-addvacancy">
                <i class="fas fa-arrow-right"></i>  Vacature Toevoegen</a>
            </button>
        </div>
    </div>     
{% endblock %}
