{% extends 'base.html.twig' %}

{% block title %}{{ vacancy.function }}{% endblock %}

{% block body %}
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-3 medium-2 large-2">
                    {{ vacancy.platform.iconurl }}
                </div>
                <div class="small-9 medium-10 large-10">
                    <span><h4>{{ vacancy.vacancydate }}</h4></span>
                    <span><h1>{{ vacancy.function }} voor {{ vacancy.user.companyname }}</h1></span>
                    <span><h3>Niveau: {{ vacancy.level }}{{ vacancy.location }}</h3></span> 
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="small-3 medium-2 large-2">
                    {{ vacancy.user.profilepictureurl }}
                </div>
                <div class="small-9 medium-10 large-10">
                    <span><h5>{{ vacancy.jobdescription }}</h5></span>
                </div>
            </div>
            {# <div class="grid-x grid-padding-x">
                <div class="small-3 medium-2 large-2">
                    {# <span><h1><strong>PIJL</strong></h1></span> #}
                {# </div>
                <div class="small-9 medium-10 large-10">
                    <span><h3><strong>SOLLICITEER DIRECT!</strong></h3></span>
                <div> #}
            {# <div class="grid-x grid-padding-x">
                <div class="small-3 medium-2 large-2">
                </div>
                <div class="small-9 medium-10 large-10">
                    <span><h4>MEER VACATURES VAN {{ vacancy.user.companyname }}</h4></span>
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vacancy</th>
                                <th>Level</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for vacancy in vacancies %}
                                <tr>
                                    <td>{{ vacancy.vacancydate }}</td>
                                    <td>{{ vacancy.function }}</td>
                                    <td>{{ vacancy.level }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> #}
    </div>
   
{% endblock %}
