{% extends 'base.html.twig' %}

{% block title %}{{ vacancy.function }}{% endblock %}

{% block logo %}
    <div class="grid-x grid-padding-x hide-for-small-only hide-for-medium-only">
        <div class="medium-12 large-12 cell">
            <div class="box">
                <div class="medium-10 large-10">
                    <br><div class="hexagonplatforms">
                        <img class="hexagonplatforms-img" src="{{ vacancy.platform.iconurl }}">
                    </div>
                </div>
                <div class="medium-2 large-2">
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x hide-for-small-only hide-for-medium-only">
        <div class="medium-12 large-12 cell">
            <div class="box">
                <div class="medium-10 large-10">
                <br><br><a href={{ path('show/userprofile', { "id": vacancy.user.id } ) }}><img class="companyimg" src="{{ vacancy.user.profilepictureurl }}"></a>
                </div>
                <div class="medium-2 large-2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            
{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell">
            <br><span class="datestyle">{{ vacancy.vacancydate|date("d-m-Y") }}</span>
            <span><h2>{{ vacancy.function }} voor {{ vacancy.user.companyname }}</h2></span>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="small-6 medium-6 large-6 cell">
            <div>
                <span class="leveltitle">Niveau: </span><span class='levelstyle'>{{ vacancy.level }}</span>
            </div>
        </div>
        <div class="small-6 medium-6 large-6 cell">
            <div>
                <span class="locationstyle" style="float: right"><i class="fas fa-map-marker-alt" style="font-size: 2rem; color: #F15A24;"></i> {{ vacancy.location }}</span>
            </div>
        </div>
    </div>
            
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell">
            <div>
                <br><font size="2">{{ vacancy.jobdescription }}</font>
            </div>
        </div>
    </div>
          
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell">
            {% if is_granted('ROLE_CANDIDATE') %}
                {% if application is not null %}
                    <br>
                    <br>
                    <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                        <a href={{ path('remove/application', {"id": vacancy.id }) }} class="orangetext-apply">
                        <i class="fas fa-arrow-right"></i>  Verwijder Sollicitatie </a>
                    </button>
                    

                {% else %}
                    <br>
                    <br>
                    <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                        <a href={{ path('add/application', {"id": vacancy.id }) }} class="orangetext-apply">
                        <i class="fas fa-arrow-right"></i>  Solliciteer Direct </a>
                    </button>
                {% endif %}

            {% elseif app.user == vacancy.user %}
                <br>
                <br>
                <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                    <a href={{ path('edit/vacancy', {"id": vacancy.id }) }} class="orangetext-apply-employer">
                    <i class="fas fa-arrow-right"></i>  Vacature Aanpassen</a>
                </button>

                <br>
                <br>
                <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                    <a href={{ path('remove/vacancy', {"id": vacancy.id }) }} class="orangetext-apply-employer">
                    <i class="fas fa-arrow-right"></i>  Vacature Verwijderen</a>
                </button>

            {% else %}
                <br>
                <br>
                <button type="submit" id="_submit" name="_submit" class="btn btn-succes">
                    <a href={{ path('remove/vacancy', {"id": vacancy.id }) }} class="orangetext-apply-employer">
                    <i class="fas fa-arrow-right"></i>  Vacature Verwijderen</a>
                </button>

            {% endif %}
        </div>
    </div>

        <div class="grid-x grid-padding-x">
            <div class="small-10 medium-10 large-10 cell">
                {% if is_granted('ROLE_EMPLOYER') and app.user == vacancy.user %}
                    <div>
                        <br><br><span class='vacanciesstyle'>Sollicitanten op deze <span class="company">functie</span></span>
                    </div>
                    <div>
                        <table id="table_id" class="vacanciestable">
                            <thead>
                                <tr>
                                    <th>Sollicitatiedatum</th>
                                    <th>Sollicitant</th>
                                    <th>Email</th>
                                    <th>Uitgenodigd</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for applicant in applicants %}
                                    <tr>
                                        <td>{{ applicant.applicationdate|date("d-m-Y") }}</td>
                                        <td><a href={{ path('show/userprofile', { "id": applicant.user.id } ) }} class="orangetext">{{ applicant.user.lastname}}, {{ applicant.user.firstname}}</a></td>
                                        <td>{{ applicant.user.email }}</td>
                                        <td class="centertable">{% if applicant.invited == true %}
                                            <i class="fas fa-check" style="font-size: 2rem"></i></td>
                                        {% endif %}
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table><br><br>
                    </div>
                {% else %}
                    <div>
                        <br><span class='vacanciesstyle'>Meer Vacatures Van </span><a href="/userprofile/show/{{vacancy.user.id}}"><span class='company'>{{ vacancy.user.companyname }}</a></span>
                    </div>
                    <div>
                       <br><table id="table_id" class="vacanciestable">
                            <thead>
                                <tr>
                                    <th class="lefttable">Datum</th>
                                    <th>Vacature</th>
                                    <th>Niveau</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vacancy in vacancies %}
                                    <tr>
                                        <td>{{ vacancy.vacancydate|date("d-m-Y") }}</td>
                                        <td><a href={{ path('show/vacancy', {"id": vacancy.id }) }} class="orangetext">{{ vacancy.function}}</a></td>
                                        <td>{{ vacancy.level}}</td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table><br><br>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>   
{% endblock %}
