{% extends 'base.html.twig' %}

{% block title %}{{ profile.lastname }}, {{ profile.firstname|first }} {% endblock %}

{% block logo %}
    <div class="grid-x hide-for-small-only hide-for-medium-only">
        <div class="medium-12 large-12">
            <div class="box">
                <div class="medium-9 large-9">
                     <br><br><div class="box">
                        <div class="hexagonprofile">
                            <img class="hexagonprofile-img" src="{{ asset( profile.profilepictureurl ) }}"></img>
                        </div>
                    </div>
                </div>
                <div class="medium-3 large-3"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell">
            <br><h2 style="font-family:bebas_neueregular; color: #F15A24">Profiel</h2>
        </div>
    </div>
    
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Voornaam</label> 
            <span class="display">{{ profile.firstname }}</span>
        </div>

        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Achternaam</label>
            <span class="display">{{ profile.lastname }}</span>
        </div>       
    </div>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell"> 
            <br><label>Email</label>
            <span class="display">{{ profile.email }}</span>
        </div>
    </div>

     <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Geboortedatum</label>
            <span class="display">{{ profile.dateofbirth|date('d-m-Y') }}</span>
        </div>

        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Telefoonnummer</label>
            <span class="display">{{ profile.phonenumber }}</span>
        </div>       
    </div>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell"> 
            <br><label>Adres</label>
            <span class="display">{{ profile.address }}</span>
        </div>
    </div>

     <div class="grid-x grid-padding-x">
        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Postcode</label>
            <span class="display">{{ profile.zipcode }}</span>
        </div>

        <div class="small-12 medium-6 large-6 cell"> 
            <br><label>Woonplaats</label>
            <span class="display">{{ profile.city }}</span>
        </div>       
    </div>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium-12 large-12 cell"> 
            <br><h2 style="font-family:bebas_neueregular; color: #F15A24">Motivatie</h2>
            <span class="motivation">{{ profile.description}}</span><br><br>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="small-6 medium-6 large-6 cell"> 
            {% if profile.cv != null %}
                <a href="{{ asset( profile.cv ) }}"
                <i class="fas fa-file-pdf" style="color: #F15A24; width: 75px; height: 75px;"></i>
                </a>

            {% else %}
            {% endif %}
        </div>

        <div class="small-6 medium-6 large-6 cell">
            {% if is_granted("ROLE_ADMIN") %}
                <button type="submit" id="_submit" name="_submit" class="btn btn-succes"  style="float: right" >
                    <a href={{ path('remove/userprofile', {"id": profile.id }) }} class="orangetext-remove-admin">
                    <i class="fas fa-arrow-right"></i>  Gebruiker Verwijderen</a>
                </button><br>
            {% endif %}
        </div>
    <br>
    </div>
{% endblock %}